* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

.stateStyle{
  margin-left: 45%;
  margin-bottom: 15px;
  margin-top: 0px;
  max-width: 10%;
}

.selectTitle{
  text-align: center;
  margin-bottom: 0px;
}

.home,
.products,
.sign-up {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.services {
  background-image: url('/images/img-2.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color:black;
  height: 90vh;
}

.products {
  background-image: url('/images/img-1.jpg');
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.sign-up {
  background-image: url('/images/img-8.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.how{
  margin-top:10px;
  margin-left: 10px;
  text-align: center;
  opacity: .3 ;
}

.why{
  margin-top:10px;
  margin-right: 10px;
  text-align: center;
  opacity: .3 ;
}

.featured{
  background-color: transparent;
  text-align: center;
  color: whitesmoke;
  padding-top: 70px;
  padding-bottom: 70px;
}
