#background-image {
    background-color: black;
}

#jumbotron {
    background: linear-gradient(
        90deg,
        #d17620d0 0%,
        #2f4a96a8 100%
    ); 
    color:white;
    padding-top: 50px;
    /* border-radius: 10px; */
}

#heading {
    align-items: center;
    justify-content: center;
    
}

#heading h4 {
    text-align: center;
}

#link-button {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border-color: #ca7e95d0; 
    border-width: medium;
    font-size: 15px;
}

#link-button:hover {
    border-color: #740962d0; 
    border-width: thick;
}
