
  .col-4 {
    background: linear-gradient(
      90deg,
      #000000d0 0%,
      #b94e4ed0 100%
    );
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1px;
    border-radius: 10px 0 0 10px;
    position: relative;
    color: white;
  }

  .nxtBtn{
    color: white;
    background: #000000d0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .anotherBookBtn{
    color: green;
    background: #000000d0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
  }

  .cardModal{
    background-color:#121212 ;
    color: white;
  }

  .footStuff{
    background-color: silver;
  }
  .col-8 {
    background: linear-gradient(
      90deg,
      #000000d0 0%,
      #b94e4ed0 100%
    );
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 1px;
    border-radius: 0 10px 10px 0;
    position: relative;
    color: white;
  }
  
  #background {
    background: linear-gradient(
      90deg,
      #a54848d0 0%,
      #fffbfbd0 100%
    );
    padding-top: 100px;
    border-radius: 10px 0 0 10px;
    position: relative;
    color: rgb(8, 8, 8);
  }